<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lineas De Atencion - Incap Express</title>
    <!-- ESTE ES EL LOGO -->
    <link rel="shortcut icon" href="../static/img/logo remove.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/a1124a3708.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<!-- MENU PRINCIPAL -->
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a href="./index.html"><img src="../static/img/logo remove.png" alt="" width="245"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav mx-auto my-2 my-lg-0" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" href="../index.html">INICIO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="../templates/fcorporativo.html">CORPORATIVO</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        CONTACTANOS
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                        <li><a class="dropdown-item" href="./flineasdeatencion.html">LÍNEAS DE ATENCIÓN</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="../templates/fregistrese.html">REGISTRARSE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="../templates/finiciarsesion.html">INICIAR SESIÓN</a>
                </li>
            </ul>
            <div style="width: 245px;" class="d-none d-lg-block"></div>
        </div>
    </div>
</nav>
<!-- CARRUSEL DE IMAGEN -->
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../static/img/img-4-1.png" class="d-block w-100" alt="...">
        </div>
    </div>
</div>
<!-- SECCIÓN DE INICIO -->
<div class="text-center container tc">
    <h2>Cobertura Y Lineas Por ciudad</h2>
    <p>Para reportar novedades de entrega, solicitar recogidas o consultar estados de guia, comunicate con nuestras oficinas regionales.</p>
</div>
<!-- LISTADO -->
<div class="container my-5">
    <div class="row g-4">
        
        <div class="col-12">
            <div class="card shadow border-0" style="border-left: 10px solid orange !important;">
                <div class="card-body">
                    <h3 class="card-title text-primary mb-4"><i class="fa-solid fa-map-location-dot me-2"></i>Bogotá D.C. (Sede Principal)</h3>
                    <div class="row text-dark">
                        <div class="col-md-4">
                            <p><strong>Chapinero:</strong> (601) 312 4567</p>
                            <p><strong>Usaquén:</strong> (601) 615 8900</p>
                            <p><strong>Fontibón:</strong> (601) 413 2211</p>
                        </div>
                        <div class="col-md-4">
                            <p><strong>Kennedy:</strong> (601) 265 4433</p>
                            <p><strong>Engativá:</strong> (601) 540 1122</p>
                            <p><strong>Suba:</strong> (601) 680 5566</p>
                        </div>
                        <div class="col-md-4">
                            <p><strong>Bosa / Tunjuelito:</strong> (601) 710 9988</p>
                            <p><strong>Teusaquillo:</strong> (601) 338 7700</p>
                            <p><strong>Barrios Unidos:</strong> (601) 225 3344</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4">
            <div class="card h-100 shadow border-0" style="border-top: 5px solid blue !important;">
                <div class="card-body">
                    <h4 class="fw-bold"><i class="fa-solid fa-mountain-city me-2"></i>Región Central</h4>
                    <hr>
                    <ul class="list-unstyled">
                        <li class="mb-2"><strong>Medellín:</strong> (604) 444 1234</li>
                        <li class="mb-2"><strong>Pereira:</strong> (606) 335 9090</li>
                        <li class="mb-2"><strong>Armenia:</strong> (606) 741 2020</li>
                        <li class="mb-2"><strong>Manizales:</strong> (606) 880 1515</li>
                        <li class="mb-2"><strong>Ibagué:</strong> (608) 270 3030</li>
                        <li class="mb-2"><strong>Neiva:</strong> (608) 871 4040</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4">
            <div class="card h-100 shadow border-0" style="border-top: 5px solid orange !important;">
                <div class="card-body">
                    <h4 class="fw-bold"><i class="fa-solid fa-anchor me-2"></i>Región Occidente</h4>
                    <hr>
                    <ul class="list-unstyled">
                        <li class="mb-2"><strong>Cali:</strong> (602) 485 0000</li>
                        <li class="mb-2"><strong>Pasto:</strong> (602) 720 1122</li>
                        <li class="mb-2"><strong>Buenaventura:</strong> (602) 241 3344</li>
                        <li class="mb-2"><strong>Popayán:</strong> (602) 823 5566</li>
                        <li class="mb-2"><strong>Quibdó:</strong> (604) 671 8899</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="card h-100 shadow border-0" style="border-top: 5px solid blue !important;">
                <div class="card-body">
                    <h4 class="fw-bold"><i class="fa-solid fa-umbrella-beach me-2"></i>Región Norte</h4>
                    <hr>
                    <ul class="list-unstyled">
                        <li class="mb-2"><strong>Barranquilla:</strong> (605) 360 1122</li>
                        <li class="mb-2"><strong>Cartagena:</strong> (605) 665 3344</li>
                        <li class="mb-2"><strong>Santa Marta:</strong> (605) 421 5566</li>
                        <li class="mb-2"><strong>Valledupar:</strong> (605) 571 7788</li>
                        <li class="mb-2"><strong>Montería:</strong> (604) 785 9900</li>
                        <li class="mb-2"><strong>Sincelejo:</strong> (605) 282 1100</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- SECCION DE FOOTER REDES SOCIALES -->
<footer class="text-white bg-dark text-center py-4">
    <a href=""><img src="../static/img/logo remove.png" alt="" width="245"></a>
    <div class="social-icons">
        <a href="https://www.facebook.com/?locale=es_LA"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://www.instagram.com/?hl=en"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.tiktok.com/en/"><i class="fa-brands fa-tiktok"></i></a>
        <a href="https://x.com/"><i class="fa-brands fa-x-twitter"></i></a>
        <p>Calle 64 No.13 - 78. Teléfono: +57 313 723 37 53 - +57 321 910 76 15 - +57 350 619 09 10. Bogota, Colombia, CO.</p>
        <p class="mb-0">&copy;2026 Incap Express. Todos los derechos reservados.</p>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>